* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("/images/background.png");
    background-repeat: repeat;
    background-size: 10%;
    background-color: rgb(31, 41, 128);
    overflow: hidden;
    
    
   
  }

  canvas {
    background-image: url("/images/sand.jpg");
    display: inline-block;
  }

  .position{
    background-color: white;
    border: 2px solid black;
    display: inline-block;

  }

  #box{
    display: inline-block;
  }

  