* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("images/background.png");
    background-repeat: repeat;
    background-size: 10%;
    background-color: rgb(102, 181, 218);
    overflow: hidden;
    font-family: 'Frijole', cursive;
    color: white
  }

#gameCanvas {
    background-image: url("images/sand.jpg");
    background-size: cover;
    display: border-box;
}

.position{
    background-color: white;
    border: 2px solid black;
    display: inline-block;

}

#box{
    display: flex;
}

.score-board{
    background-color: rgba(0, 0, 255, 0.329);
    border: 2px solid rgb(5, 5, 71);
    color: white;
    display: border-box;
    width: 150px;
    height: 360px;
    text-align: center;
    align-self: center;
    align-items: center;
}

.blueberry-image{
    height: 50px;
    width: 50px;
}

.key-image{
    height: 50px;
    width: 50px;
    display: inline-block;
}

.live{
    height: 50px;
    width: 50px;
    display: inline-block;
}

#game{
    height: 500px;
    width: 500px;
    margin-top: 50px;
    border: 2px solid white;
    background-image: url("images/smurfs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#button{
    height: 70px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.253);
    border: 5px solid red;
    font-size: 3rem;
    border-radius: 7%;
    align-items: center;
    text-align: center;
    margin-top: 330px;
    margin-left: 50px;
}
#button:hover{
    background-color: rgba(204, 52, 52, 0.253);
    color: red;
}
.game-title{
    font-size: 2rem;
}

.hidden{
    visibility: hidden;
}